# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.keystore

# iOS / macOS
ios/Pods/
ios/.symlinks/
macos/Pods/

# IDE
.vscode/
.idea/

# OS
.DS_Store

